@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: peyda;
  src: url('/fonts/PeydaWeb/woff2/PeydaWebFaNum-Regular.woff2');
  font-display: auto;
  font-weight: normal;
}

@font-face {
  font-family: peyda;
  src: url('/fonts/PeydaWeb/woff2/PeydaWebFaNum-Bold.woff2');
  font-display: auto;
  font-weight: bold;
}

* {
  font-family: peyda, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

.drop-shadow {
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
}

.swiper-slide {
  width: auto !important;
}

.swiper-pagination-bullet {
  transition: width 0.6s;
  border-radius: 8px !important;
  background-color: rgb(255, 255, 255) !important;
}

.swiper-pagination-bullet-active {
  width: 32px !important;
  background-color: rgb(255, 255, 255) !important;
}
